<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="circul8" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    
    <appSettings>
        <!-- Collection Settings -->
        <add key="DefaultEnabledCollectors" value="Disk,Memory,Eventlogs,Processor,SystemInfo" />
        <!-- How often to collect metrics in milliseconds. Default: 3000 (3 seconds) -->
        <add key="CollectionIntervalMs" value="3000" />
        <!-- Number of samples to collect before aggregating. Default: 15 -->
        <add key="MetricsAggregationCount" value="15" />
        <!-- How often to collect and cache system info in hours. Default: 24 -->
        <add key="SystemInfoIntervalHours" value="24" />
        <!-- How often to check for new event logs in milliseconds. Default: 24 hours -->
        <add key="EventLogCheckIntervalMs" value="86400000" />
        
        <!-- Database Settings -->
        <add key="EnableInfluxDb" value="true" />
        <add key="InfluxDbUrl" value="http://localhost:8086" />
        <add key="InfluxDbOrg" value="Circul8" />
        <add key="InfluxDbBucket" value="Circul8" />
        <add key="InfluxDbToken" value="API_TOKEN_HERE" />
        
        <!-- Certificate Verification Settings -->
        <!-- Options:
             "true" = Use default .NET certificate validation
             "false" = Skip certificate validation 
             Path to certificate file = Validate against specific certificate -->
        <add key="CertificateVerification" value="true" />
        
        <!-- Logging Settings -->
        <add key="LogLevel" value="DEBUG" />
        <add key="LogsDirectory" value="logs" />
        <add key="UseConsoleLogging" value="false" />
        <add key="MaxLogFileSize" value="10240" />
        <add key="MaxLogFiles" value="5" />
        
        <!-- Base Directory -->
        <add key="BaseDirectory" value="C:\ProgramData\Circul8" />
    </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
	
		
